{{#property}}
Key: {{key}} - {{description}} {{#property2}}(Old: {{key}} - {{description}}){{/property2}}
Value: {{value}} {{#formattedValue}}({{formattedValue}}){{/formattedValue}} {{#property2}}(Old: {{value}}){{/property2}}
Type: {{type}}
Unit: {{unit}}
Action: {{action}} (Version: {{source}})
{{/property}}

