{{#property}}
+{{key}}+:: {{description}} {{#property2}}(Old: {{key}} - {{description}}){{/property2}}
+
_Type:_ ++
+
_Default:_ +{{value}}+ {{#property2}}(Old: {{value}}){{/property2}}
+
_Unit:_ ++
+
_Action:_ {{action}} (Version: {{source}})
{{/property}}

