{{#property}}
Key: {{key}} - {{description}} {{#property2}}(Old: {{key}} - {{description}}){{/property2}}
Value: {{value}} {{#property2}}(Old: {{value}}){{/property2}}
Action: {{action}} (Version: {{source}})
{{/property}}

